<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VynyleShop - Vynil Detail</title>

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments :: import-css}"></th:block>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <th:block th:replace="~{fragments :: navbar('none')}"></th:block>
    </header>

    <!-- MAIN -->
    <main class="mb-5">
      <div class="container text-center text-lg-start" th:object="${vynil}">
        <!-- Buttons -->
        <div class="w-100 d-flex justify-content-between mb-3">
          <!-- Back Button -->
          <div class="left">
            <a
              class="btn btn-primary btn-lg"
              th:href="@{/vynil}"> 
              <i class="fa-solid fa-chevron-left fa-lg"></i>
              <span class="d-none d-lg-inline">Back to Vynil List</span>
            </a>
          </div>

          <!-- Edit and Delete Buttons -->
          <div class="right"
              sec:authorize="hasAuthority('ADMIN')">
            <a class="btn btn-warning btn-lg" th:href=@{/vynil/edit/{id}(id=*{id})}>
              <i class="fa-solid fa-pencil fa-lg"></i>
            </a>

            <!-- Il pulsante DELETE apre una modal di conferma -->
            <button
              type="button"
              class="btn btn-danger btn-lg"
              data-bs-toggle="modal"
              th:data-bs-target="'#delete-modal-' + *{id}"
            >
              <i class="fa-solid fa-trash fa-lg"></i>
            </button>
            <!-- Delete Modal -->
            <div
              sec:authorize="hasAuthority('ADMIN')"
              class="modal fade"
              th:id="'delete-modal-' + *{id}"
              tabindex="-1"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Deleting "[[*{name}]]"
                    </h1>
                  </div>
                  <!-- Modal Body -->
                  <div class="modal-body">
                    Do you really want to delete this?
                  </div>
                  <!-- Modal Footer -->
                  <div class="modal-footer">
                    <!-- Delete e' una chiamata POST, quindi necessita di un form -->
                    <form
                      th:action="@{/vynil/delete/{id}(id=*{id})}"
                      method="POST"
                    >
                      <button class="btn btn-danger" type="submit">
                        YES, I AM SURE
                      </button>
                    </form>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      No
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Title -->
        <h1 class="font-size-3 text-center">Vynil Detail</h1>

        <!-- Data -->
        <h1 class="fw-normal">
          "[[*{name}]]" <span class="fs-2 fw-bold">by</span> 
          "<a th:href="@{/artist/{id}(id=*{artist.getId()})}">[[*{artist.getName()}]]</a>"
        </h1> 
        <div class="row row-cols-1 row-cols-lg-2 my-3">
          <div class="col left">
            <h3>ID: <span class="fw-normal">[[*{id}]]</span></h3>
            <h3>Genre: <span class="fw-normal">[[*{genre}]]</span></h3>
            <h3>Release year: <span class="fw-normal">[[*{releaseYear}]]</span></h3>
            <h3>Available: <span class="fw-normal">[[*{available}]]</span></h3>
            <h3>Format: <span class="fw-normal">[[*{format}]]</span></h3>
          </div>
          <div class="col right">
            <h3>Code: <span class="fw-normal">[[*{code}]]</span></h3>
            <h3>Edition: <span class="fw-normal">[[*{edition}]]</span></h3>
            <h3>Label: <span class="fw-normal">[[*{label}]]</span></h3>
            <h3>Country: <span class="fw-normal">[[*{country}]]</span></h3>
            <h3>Color: <span class="fw-normal">[[*{color}]]</span></h3>
          </div>
        </div>

        
        <div class="row row-cols-1 row-cols-lg-2 my-3">
          <div class="col left">
            <h3>Tracklist: </h3>
            <div class="d-flex flex-row">
              <div class="left w-50">
                <h3>Sideone: </h3>
                <span class="fs-4 fw-normal d-block p-1" th:each="track, iterStat : *{sideoneAsList}">
                <span>[[${iterStat.index + 1}]]- [[${track}]]</span>
                </span>
              </div>
              <div class="right w-50">
                <h3>Sidetwo: </h3>
                <span class="fs-4 fw-normal d-block p-1" th:each="track, iterStat : *{sidetwoAsList}">
                <span>[[${iterStat.index + 1}]]- [[${track}]]</span>
              </span>
              </div>
            </div>
          </div>

          <div class="col right">
            <h3 class="mb-2">Images: </h3>
            <div class="row row-cols-2 g-2 justify-content-center justify-content-lg-start">
              <img th:each="image : *{images}" th:src="${image}" alt="Vynil image" class="vynil-artist-images" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
