<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VynyleShop - Home</title>

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments :: import-css}"></th:block>
  </head>
  <body>
    <!-- HEADER -->
    <!-- <header>
      <th:block th:replace="~{fragments :: navbar('home')}"></th:block>
    </header> -->

    <!-- MAIN -->
    <main
      class="h-100vh position-relative d-flex align-items-center justify-content-center flex-column pb-5"
    >
      <!-- Title -->
      <h2 class="display-1 font-size-4">VynyleShop</h2>
      <h1 class="font-size-3">Home</h1>

      <hr class="w-25" />

      <!-- Pages -->
      <h2 class="font-size-2_5">Pages list:</h2>
      <ul class="reset-ul font-size-2 text-center">
        <li class="mb-2">
          <i class="fa-solid fa-magnifying-glass fa-sm"></i>
          <a class="reset-a hover" th:href="@{/vynil}">Vynil list</a>
        </li>
        <li class="mb-2">
          <i class="fa-solid fa-magnifying-glass fa-sm"></i>
          <a class="reset-a hover" th:href="@{/artist}">Artist list</a>
        </li>
        <li class="mb-2" sec:authorize="hasAuthority('ADMIN')">
          <i class="fa-solid fa-plus fa-sm"></i>
          <a class="reset-a hover" th:href="@{/vynil/create}">Create vynil</a>
        </li>
        <li class="mb-2" sec:authorize="hasAuthority('ADMIN')">
          <i class="fa-solid fa-plus fa-sm"></i>
          <a class="reset-a hover" th:href="@{/artist/create}">Create artist</a>
        </li>
      </ul>

      <div class="vynil-lines">
        <!-- Left Vynil-line -->
        <div
          class="vynil-line vynil-line-left d-none d-md-flex justify-content-evenly align-items-center flex-column"
        >
          <img
            class="vynil-img"
            th:src="@{/img/Vynil.png}"
            alt="vynil"
            draggable="false"
          />
          <img
            class="vynil-img"
            th:src="@{/img/Vynil.png}"
            alt="vynil"
            draggable="false"
          />
          <img
            class="vynil-img"
            th:src="@{/img/Vynil.png}"
            alt="vynil"
            draggable="false"
          />
          <img
            class="vynil-img"
            th:src="@{/img/Vynil.png}"
            alt="vynil"
            draggable="false"
          />
          <img
            class="vynil-img"
            th:src="@{/img/Vynil.png}"
            alt="vynil"
            draggable="false"
          />
        </div>
        <!-- Right Vynil-line -->
        <div
          class="vynil-line vynil-line-right d-none d-md-flex justify-content-evenly align-items-center flex-column"
        >
          <img
            class="vynil-img"
            th:src="@{/img/Vynil.png}"
            alt="vynil"
            draggable="false"
          />
          <img
            class="vynil-img"
            th:src="@{/img/Vynil.png}"
            alt="vynil"
            draggable="false"
          />
          <img
            class="vynil-img"
            th:src="@{/img/Vynil.png}"
            alt="vynil"
            draggable="false"
          />
          <img
            class="vynil-img"
            th:src="@{/img/Vynil.png}"
            alt="vynil"
            draggable="false"
          />
          <img
            class="vynil-img"
            th:src="@{/img/Vynil.png}"
            alt="vynil"
            draggable="false"
          />
        </div>
      </div>
    </main>
  </body>
</html>
